.container{
    width: 70%;
    margin: 0 auto;
}
.container .box2 img{
    width: 100%;
}
.container .box2 h1{
    font-size: 2rem;
    margin-bottom: 15px;
}
@media screen and (max-width: 400px) {
    
    .container .box2 h1{
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:900px) {
    .container .box2 h1{
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
}
table {
    width: 100%;
    /* border-collapse: collapse; */
    table-layout: auto;
    font-family: sans-serif; 
    border: 1px solid black;
    
}
thead{
    background-color: rgb(209, 209, 209);
    border: 2px solid black;
    text-align: center;
}
tbody {
    background-color: rgb(236, 236, 236);
    
}

td,th{
    padding: 7px;
    vertical-align: baseline;
}